/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

ul,ol,a {
    list-style: none;
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

/* Variabili */



/* MACRO LAYOUT */

body {
    height: 100vh;
    flex-direction: column;
}

#boss-container {
    flex-basis: 0;
    flex-grow: 1;
    background-color: yellow;
    overflow: hidden;

}

#bottom-aside {
    background-color: #282828;
}

#side-bar {
    flex-shrink: 0;
    flex-basis: 230px;
    background-color: blue;
    overflow: scroll;
    height: 100%;
}

main {
    flex-grow: 1;
    flex-basis: 0;
    flex-direction: column;
}

#main-header {
    background-color: violet;
    height: 30px;
}

#main-container {
    background-color: aqua;
    flex-basis: 0;
    flex-grow: 1;
}


/* MEDIA QUERY MARCO LAYOUT*/
/* md */
@media screen and (max-width: 1020px){

}

/* s */
@media screen and (max-width: 768px){

}

/* xs */
@media screen and (max-width: 576px){
    #side-bar {
        flex-basis: 50px;
        background-color: purple;
    }
}



/* BOTTOM ASIDE */

#bottom-aside {
    padding: 0 0.5rem;
    gap: 1rem;
    /* flex-wrap: nowrap; */
    align-items: center;
    justify-content: space-between;
}

.aside-col-left,
.aside-col-right {
    flex-basis: 230px;
    align-items: center;
}

/* col left */
#bottom-aside .aside-col-left {
    padding-top: 1.375rem;
    padding-bottom: 1.375rem;
    gap: 2.5rem;
}

#bottom-aside .song-details,
#bottom-aside .like {
    gap: 0.5rem;
    align-items: center;
}

#bottom-aside .thumbnail {
    width: 2.5rem;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
}

#bottom-aside .thumbnail img{
    display: block;
}

#bottom-aside .title h3 {
    font-size: 0.75rem;
    font-weight: bold;
}

#bottom-aside .title p {
    font-size: 0.66rem;
}

#bottom-aside .like i {
    font-size: 0.875rem;
    cursor: pointer;
}

/* col center */
#bottom-aside .aside-col-center {
    flex-basis: 35%;
    flex-direction: column;
    align-items: initial;
    justify-content: center;
    gap: 0.5rem;
}

#bottom-aside .aside-col-center .icons i {
    font-size: 1rem;
}

#bottom-aside .aside-col-center .icons .fa-circle-play {
    font-size: 2rem;
}

#bottom-aside .aside-col-center .icons {
    gap: 1.25rem;
    align-items: center;
    align-self: center;
}

#bottom-aside .aside-col-center .icons span {
    font-size: 0.675rem;
}

#bottom-aside .aside-col-center .icons .icons-left,
#bottom-aside .aside-col-center .icons .icons-right {
    gap: 2rem;
}

#bottom-aside .aside-col-center .playing {
    gap: 1.5rem;
    font-weight: bold;
    font-size: 00.675rem;
    align-items: center;
    justify-content: space-between;
}

#bottom-aside .barra{
    background-color: #5A5A5A;
    flex-grow: 1;
    height: 3px;
    border-radius: 1.5rem;
}

#bottom-aside .barra .caricamento-barra {
    background-color: #C1C1C1;
    width: 25%;
    height: 100%;
    border-radius: 1.5rem;
}


/* column right */
#bottom-aside .aside-col-right {
    align-items: center;
    gap: 0.75rem;
    font-size: 0.75rem;
    justify-content: end;
}


/* MEDIA QUERY MARCO LAYOUT*/
/* md */
@media screen and (max-width: 1020px){

}

/* s */
@media screen and (max-width: 768px){
    #bottom-aside .like {
        flex-direction: column;
    }    
}

/* xs */
@media screen and (max-width: 576px){
    #bottom-aside .aside-col-left {
        gap: 1rem;
    }
}


