/* RESET */
:root {
    --bg-color-main-header: #080B12;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol,a {
    list-style: none;
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

/* Variabili */



/* MACRO LAYOUT */

body {
    height: 100vh;
    flex-direction: column;
}

#boss-container {
    flex-basis: 0;
    flex-grow: 1;
    background-color: yellow;
    overflow: hidden;

}

#bottom-aside {
    background-color: #282828;
}

#side-bar {
    flex-basis: 230px;
    background-color: black;
    overflow-x: auto;
    height: 100%;
}

main {
    flex-grow: 1;
    flex-basis: 0;
    flex-direction: column;
}

#main-header {
    background-color: var(--bg-color-main-header);
}

#main-container {
    background-color: aqua;
    flex-basis: 0;
    flex-grow: 1;
}


/* MEDIA QUERY MARCO LAYOUT*/
/* md */
@media screen and (max-width: 1020px){

}

/* s */
@media screen and (max-width: 768px){

}

/* xs */
@media screen and (max-width: 576px){
    #side-bar {
        flex-basis: 50px;
        
    }
}



/* BOTTOM ASIDE */

#bottom-aside {
    padding: 0 0.5rem;
    gap: 1rem;
    /* flex-wrap: nowrap; */
    align-items: center;
    justify-content: space-between;
    color: white;
}

.aside-col-left,
.aside-col-right {
    flex-basis: 230px;
    align-items: center;
}

/* col left */
#bottom-aside .aside-col-left {
    padding-top: 1.375rem;
    padding-bottom: 1.375rem;
    gap: 2.5rem;
}

#bottom-aside .song-details,
#bottom-aside .like {
    gap: 0.5rem;
    align-items: center;
}

#bottom-aside .thumbnail {
    width: 2.5rem;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
}

#bottom-aside .thumbnail img{
    display: block;
}

#bottom-aside .title h3 {
    font-size: 0.75rem;
    font-weight: bold;
    cursor: pointer;
}

#bottom-aside .title p {
    font-size: 0.66rem;
    color: #A3A3A3;
    cursor: pointer;
}

#bottom-aside .title p:hover {
    color: white;
    text-decoration: underline;
}

#bottom-aside .like i {
    font-size: 0.875rem;
    cursor: pointer;
    color: #A3A3A3;
}

#bottom-aside .like i:hover {
    color: white;
}

/* col center */
#bottom-aside .aside-col-center {
    flex-basis: 35%;
    flex-direction: column;
    align-items: initial;
    justify-content: center;
    gap: 0.5rem;
}

#bottom-aside .aside-col-center .icons i {
    font-size: 1rem;
    cursor: pointer;
}

#bottom-aside .aside-col-center .icons .fa-circle-play {
    font-size: 2rem;
}

#bottom-aside .aside-col-center .icons .fa-circle-play:hover {
    transform: scale(1.2);
}

#bottom-aside .aside-col-center .icons {
    gap: 1.25rem;
    align-items: center;
    align-self: center;
}

#bottom-aside .aside-col-center .icons span {
    font-size: 0.675rem;
}

#bottom-aside .aside-col-center .icons .icons-left,
#bottom-aside .aside-col-center .icons .icons-right {
    gap: 2rem;
}

#bottom-aside .aside-col-center .playing {
    gap: 1.5rem;
    font-weight: bold;
    font-size: 00.675rem;
    align-items: center;
    justify-content: space-between;
}

#bottom-aside .barra{
    background-color: #5A5A5A;
    flex-grow: 1;
    height: 2px;
    border-radius: 1.5rem;
}

#bottom-aside .barra .caricamento-barra {
    background-color: #C1C1C1;
    width: 25%;
    height: 100%;
    border-radius: 1.5rem;
    position: relative;
}

#bottom-aside .barra .point-player {
    background-color: #C1C1C1;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    transform: translateY(-44%);
    right: 0;
    margin-right: -4px;
    display: none;
}

#bottom-aside .barra:hover .point-player {
    display: block;
    cursor: pointer;
}

#bottom-aside .barra:hover .caricamento-barra {
    background-color: greenyellow;
}



/* column right */
#bottom-aside .aside-col-right {
    align-items: center;
    gap: 0.75rem;
    font-size: 0.75rem;
    justify-content: end;
}

#bottom-aside .aside-col-right i{
    cursor: pointer;
    }




/* MEDIA QUERY BOTTOM ASIDE*/
/* md */
@media screen and (max-width: 1020px){

}

/* s */
@media screen and (max-width: 768px){
    #bottom-aside .like {
        flex-direction: column;
    }    
}

/* xs */
@media screen and (max-width: 576px){
    #bottom-aside .aside-col-left {
        gap: 1rem;
    }
}


/* HEADER (SIDE-BAR) */
/* #side-bar * { 
    border: 2px solid saddlebrown;
} */

#side-bar {
    flex-direction: column;
}

#side-bar .john-doe {
    margin-top: auto;
}

#side-bar .px {
    padding: 0 15px;
}

/* logo spotify */
#side-bar .logo-spotify {
    height: 85px;
    padding-top: 15px;
}

#side-bar .logo-spotify .logo-spotify-normal {
    display: block;
    height: 40px;
}

#side-bar .logo-spotify .logo-spotify-small {
    display: none;
}

/* nav bar */
#side-bar .nav-bar {
    
    margin-bottom: 1.25rem;
    color: #A3A3A3;
    
}

#side-bar .nav-bar > .row{
    flex-direction: column;
    gap: 0.5rem;
}
#side-bar .nav-bar > .row > :first-child {
    color: white;
    position: relative;
}

#side-bar .nav-bar > .row > :first-child::before {
    content: "";
    display: block;
    border-left: 1px solid greenyellow;
    position: absolute;
    left: 0;
    top: 0;   
    bottom: 0; 
}


#side-bar .nav-bar a{
    gap: 0.5rem;
    align-items: center;
}

#side-bar .nav-bar img{
    width: 22px;
}

#side-bar .nav-bar h3{
    font-size: 0.81rem;
    font-weight: bold;
}

/* playlist */
#side-bar .playlist {
    font-size: 0.875rem;
    font-weight: bold;
    color: #A3A3A3;
    margin-bottom: 1.25rem;
}

#side-bar .playlist > h2 {
    margin-bottom: 1rem;
    color: white;
}

#side-bar .playlist .create-playlist {
    align-items: center;
    gap: 0.5rem;
}

#side-bar .playlist .container-create {
    width: 37px;
    height: 37px;
    justify-content: center;
    align-items: center;
    background-color: #A3A3A3;
}

#side-bar .playlist .container-create .add-playlist {
    font-size: 1.5rem;
    color: black;
}

/* name-playlist */
#side-bar .name-playlist {
    color: #A3A3A3;
    font-size: 0.875rem;
    font-weight: bold;
}

#side-bar .name-playlist li {
    margin-bottom: 0.875rem;
}

/* John Doe */
#side-bar .john-doe {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0px 15px 5px 0px;
    font-weight: bold;
    margin-left: 15px ;
}

#side-bar .john-doe .download {
    gap: 0.5rem;
    color: #A3A3A3;
    font-size: 0.75rem;
    align-items: center;
}

#side-bar .john-doe .download img {
    display: block;
    width: 0.875rem;
    height: 0.875rem;
}

#side-bar .john-doe .bordo {
    height: 1px;
    width: 90%;
    background-color: #A3A3A3;
}

#side-bar .john-doe .user {
    color: white;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.875rem;
}

#side-bar .john-doe .user img {
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: #A3A3A3;
    border-radius: 50%;
}

#side-bar a:hover {
    color: white;
}



/* MEDIA QUERY SIDE-BAR */
/* xs */
@media screen and (max-width: 576px){
    #side-bar .logo-spotify .logo-spotify-normal,
    #side-bar .nav-bar li h3,
    #side-bar .playlist,
    #side-bar .name-playlist,
    #side-bar .john-doe h3,
    #side-bar .john-doe .bordo,
    #side-bar .john-doe h2
    {
        display: none;
    }

    #side-bar .logo-spotify .logo-spotify-normal{
        display: none;
    }

    #side-bar .logo-spotify .logo-spotify-small {
        display: block;
        /* height: 25px; */
    }

    #side-bar .logo-spotify {
        height: auto;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #side-bar .nav-bar {
        padding: 5px;
    }

    #side-bar .nav-bar li{
        justify-content: center;
    }
    
    #side-bar .john-doe {
        padding: 5px;
        margin-left: 0;
    }

    #side-bar .john-doe .row{
        margin-left: 0;
        justify-content: center;
    }

    #side-bar .nav-bar > .row > :first-child::before {
        display: none; 
    }
    
    #side-bar .px {
        padding: 5px;
    }

}


/* MAIN HEADER */

#main-header {
    color: white;
    padding: 16px 4px;
}

#main-header .main-header-button{
    color: currentColor;
    font-size: 0.75rem;
    font-weight: bold;
    display: block;
    padding: 0.875rem 2.4rem;
    border: 2px solid white;
    border-radius: 20px;
    float: right;
    text-transform: uppercase;
}

/* #main-header .main-header-button::after { 
    content: "";
    display: table;
    clear: both;
} */